/* Write your global styles here, in PostCSS syntax */

/* We don't want default from tailwind, we have the ones from Nextcloud
@tailwind base;
@tailwind components;
*/

@tailwind utilities;

#mwb-thesearchpage {
	@apply w-full;
}
